@using System.Diagnostics

<div class="auth-page">

    <div class="auth-block">

        <div class="auth-system-title">ЕСИА ЕАСУЗ</div>

        <p>Единая система авторизации ЕАСУЗ</p>

        <div class="auth-block-content start-screen-content">

            <h2>Добро пожаловать в систему единой авторизации ЕАСУЗ</h2>
            <p class="greetings-p">
                <span>Для просмотра личной информации <br/>
                перейдите в личный кабинет</span>
                <a class="button personal-button" href="~/account">
                    <svg class="person-icon" width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10 0C12.5733 0 14.6667 2.09333 14.6667 4.66667C14.6667 7.24 12.5733 9.33333 10 9.33333C7.42667 9.33333 5.33333 7.24 5.33333 4.66667C5.33333 2.09333 7.42667 0 10 0Z" fill="white" />
                        <path d="M19.3333 17.3333H0.666667V17.0267C0.666667 16.2 1.04 15.4267 1.68 14.92C3.96 13.0933 6.85333 12 10 12C13.1467 12 16.04 13.0933 18.32 14.92C18.96 15.4267 19.3333 16.2133 19.3333 17.0267V17.3333Z" fill="white" />
                    </svg>
                    <i>Личный кабинет</i>
                    <svg class="arrow-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g opacity="0.3">
                            <path d="M22 12L18 8V11L3 11L3 13L18 13V16L22 12Z" fill="white" />
                        </g>
                    </svg>
                </a>
            </p>

            <ul class="systems-list">
                <li><a class="button" href="https://easuz.mosreg.ru/easuz44/">ЕАСУЗ-44</a></li>
                <li><a class="button" href="https://easuz.mosreg.ru/easuz223/">ЕАСУЗ-223</a></li>
                <li><a class="button" title="Электронный магазин" href="https://market.mosreg.ru/">ЭМ МО</a></li>
                <li><a class="button" href="https://pik.mosreg.ru/">ПИК</a></li>
                <li><a class="button" href="https://easuz.mosreg.ru/">Портал ЕАСУЗ</a></li>
                <li><a class="button" href="https://easuz.mosreg.ru/support/">Тех. поддержка</a></li>                
                <li><a class="button" href="https://easuz.mosreg.ru/Arip/">АРИП</a></li>               
            </ul>
        </div>

    </div>

</div>